body {
    background: #100720;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 72vh;
    width: 40w;
    display: inline-block;
    margin-left: 40vw;
    margin-top: 13vh;
    box-shadow: 0px -6px 20px yellow;
    border-radius: 8%;
    background: transparent;

}

input {
    width: 200px;
    height: 35px;
    margin: 18px;
    text-align: right;
    background-color: lightgreen;
    box-shadow: 10px -5px 40px rgb(16, 241, 16);
    border-radius: 10%;
    padding: 10px;
    color: black;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    display: inline-block;
    margin: 10px 10px 20px 10px;
    font-size: 16px;
    height: 40px;
    width: 40px;
    border-radius: 14px;
    border: 3px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

button:hover {
    cursor: pointer;
    box-shadow: -1px -2px 20px rgb(185, 207, 88);
}